@model IEnumerable<IdSubjects.DirectoryLogon.DirectoryAccount>

<table class="table">
    <thead>
        <tr>
            <td>LogonId</td>
            <td>Service</td>
            <td>UPN</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var account in Model)
            {
                <tr>
                    <td><a asp-page="/LogonAccount/Index" asp-route-PersonId="@account.PersonId">@account.ObjectId</a></td>
                    <td>@account.DirectoryServiceDescriptor.Name</td>
                    <td></td>
                </tr>
            }
    </tbody>
</table>